In [64]:
# Import libraries
import numpy as np
import pandas as pd

# Read titanic data
df_train = pd.read_csv('train.csv', index_col='PassengerId')
df_test = pd.read_csv('test.csv', index_col='PassengerId')

In [2]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [63]:
# Understanding TKT
df = df_train.copy(deep=True)
df['TKT'] = np.array([int(tkt.split()[-1]) if tkt.split()[-1].isdigit() else 0 for tkt in df.Ticket.values])
dict_TKT = df.TKT.value_counts().reset_index(name="count")

print(dict_TKT.query("count > 5"))

dict_TKT = dict(dict_TKT.to_dict(orient='split')['data'])
print(dict_TKT)

df['TKT_count'] = [dict_TKT[tkt] for tkt in df.TKT]
df[df.TKT==2144]

     index  count
0     1601      7
1     2343      7
2   347082      7
3   347088      6
4  3101295      6
5     2144      6
{1601: 7, 2343: 7, 347082: 7, 347088: 6, 3101295: 6, 2144: 6, 382652: 5, 14879: 5, 0: 4, 113781: 4, 113760: 4, 4133: 4, 17757: 4, 349909: 4, 2666: 4, 17421: 4, 19950: 4, 6608: 4, 347077: 4, 371110: 3, 29106: 3, 17474: 3, 2123: 3, 347742: 3, 17760: 3, 345773: 3, 35273: 3, 17755: 3, 17572: 3, 17582: 3, 31921: 3, 13502: 3, 230080: 3, 110413: 3, 13529: 3, 239853: 3, 363291: 3, 248727: 3, 34651: 3, 110152: 3, 24160: 3, 2659: 2, 237736: 2, 11967: 2, 11751: 2, 19928: 2, 17569: 2, 2691: 2, 113789: 2, 358585: 2, 2079: 2, 17558: 2, 367230: 2, 111361: 2, 11767: 2, 110465: 2, 19943: 2, 367226: 2, 113803: 2, 243847: 2, 113798: 2, 220845: 2, 231919: 2, 250647: 2, 2678: 2, 376564: 2, 370365: 2, 35281: 2, 36947: 2, 230433: 2, 17477: 2, 37671: 2, 345764: 2, 19877: 2, 250655: 2, 239865: 2, 11668: 2, 113806: 2, 250649: 2, 17611: 2, 17608: 2, 2908: 2, 17604: 2, 13507: 2, 244367: 2, 3336: 2, 250644: 2, 2699: 2, 33112: 2, 2315: 2, 17593: 2, 370129: 2, 6607: 2, 17453: 2, 113505: 2, 2673: 2, 2661: 2, 2653: 2, 347054: 2, 17485: 2, 244252: 2, 7534: 2, 54636: 2, 3101279: 2, 48871: 2, 12749: 2, 3101278: 2, 2651: 2, 36928: 2, 17761: 2, 9549: 2, 17758: 2, 2627: 2, 364516: 2, 29750: 2, 349237: 2, 16966: 2, 347080: 2, 751: 2, 3: 2, 31027: 2, 2665: 2, 2668: 2, 28403: 2, 113776: 2, 364849: 2, 19996: 2, 230136: 2, 392096: 2, 26360: 2, 248738: 2, 36973: 2, 3381: 2, 113572: 2, 5735: 2, 315089: 1, 21171: 1, 315088: 1, 21172: 1, 345778: 1, 345774: 1, 345777: 1, 345780: 1, 14311: 1, 12233: 1, 31028: 1, 6563: 1, 345770: 1, 21173: 1, 345769: 1, 21174: 1, 345783: 1, 370377: 1, 373450: 1, 14313: 1, 111369: 1, 370373: 1, 382651: 1, 31418: 1, 370376: 1, 370370: 1, 315084: 1, 382649: 1, 370375: 1, 17592: 1, 370371: 1, 315086: 1, 370369: 1, 370372: 1, 11813: 1, 347083: 1, 349204: 1, 3101282: 1, 3101307: 1, 3101305: 1, 2680: 1, 2677: 1, 3101298: 1, 349209: 1, 28665: 1, 3101294: 1, 2669: 1, 2667: 1, 315093: 1, 2664: 1, 2662: 1, 3101283: 1, 3101281: 1, 345767: 1, 112277: 1, 3101280: 1, 3101306: 1, 3101276: 1, 2650: 1, 2649: 1, 2648: 1, 2647: 1, 244310: 1, 112379: 1, 3101269: 1, 3101267: 1, 2641: 1, 3101264: 1, 367228: 1, 367229: 1, 367231: 1, 367232: 1, 365222: 1, 345765: 1, 349217: 1, 345763: 1, 371362: 1, 3101296: 1, 312992: 1, 312991: 1, 315037: 1, 3101288: 1, 347063: 1, 372622: 1, 349912: 1, 244373: 1, 345779: 1, 343095: 1, 349248: 1, 2700: 1, 2697: 1, 220367: 1, 111240: 1, 2695: 1, 28664: 1, 324669: 1, 2693: 1, 3101316: 1, 27267: 1, 2690: 1, 2689: 1, 315090: 1, 13049: 1, 29395: 1, 28551: 1, 14208: 1, 248706: 1, 695: 1, 36866: 1, 2003: 1, 3101273: 1, 111426: 1, 11774: 1, 392076: 1, 392078: 1, 26707: 1, 248723: 1, 4134: 1, 392086: 1, 29566: 1, 248698: 1, 364498: 1, 12460: 1, 17476: 1, 350052: 1, 113509: 1, 113510: 1, 113514: 1, 3101287: 1, 350060: 1, 234360: 1, 2926: 1, 28206: 1, 211536: 1, 364500: 1, 229236: 1, 17590: 1, 392087: 1, 392089: 1, 1748: 1, 347071: 1, 347064: 1, 39886: 1, 239854: 1, 347067: 1, 347068: 1, 347069: 1, 21440: 1, 347061: 1, 347073: 1, 347074: 1, 347076: 1, 347085: 1, 11206: 1, 347081: 1, 14263: 1, 347060: 1, 392090: 1, 7077: 1, 248731: 1, 394140: 1, 248733: 1, 3101311: 1, 4001: 1, 7075: 1, 347089: 1, 14258: 1, 17318: 1, 248747: 1, 113773: 1, 752: 1, 17482: 1, 13214: 1, 350050: 1, 17248: 1, 17369: 1, 28425: 1, 3101272: 1, 364512: 1, 2816: 1, 17609: 1, 349214: 1, 28424: 1, 383121: 1, 376566: 1, 236853: 1, 3101275: 1, 315151: 1, 315153: 1, 2620: 1, 14312: 1, 14973: 1, 244361: 1, 113503: 1, 349244: 1, 2671: 1, 349910: 1, 315096: 1, 315097: 1, 315098: 1, 237442: 1, 335097: 1, 2683: 1, 11755: 1, 13032: 1, 7076: 1, 349239: 1, 2625: 1, 236171: 1, 36963: 1, 250646: 1, 65303: 1, 223596: 1, 348124: 1, 111428: 1, 350025: 1, 350026: 1, 362316: 1, 348123: 1, 350034: 1, 65304: 1, 851: 1, 350036: 1, 350042: 1, 374746: 1, 113501: 1, 350046: 1, 5734: 1, 341826: 1, 3902: 1, 335677: 1, 33595: 1, 17475: 1, 234686: 1, 20589: 1, 392092: 1, 342826: 1, 3474: 1, 3101292: 1, 363294: 1, 250653: 1, 3101293: 1, 364511: 1, 65306: 1, 250643: 1, 365226: 1, 2631: 1, 18509: 1, 237789: 1, 330919: 1, 330923: 1, 315082: 1, 3101290: 1, 330931: 1, 330932: 1, 110564: 1, 330935: 1, 349218: 1, 17595: 1, 17596: 1, 17597: 1, 17599: 1, 17600: 1, 3235: 1, 330909: 1, 113786: 1, 374887: 1, 113788: 1, 330877: 1, 374910: 1, 113792: 1, 28228: 1, 113794: 1, 113796: 1, 113800: 1, 113804: 1, 3101265: 1, 1166: 1, 113807: 1, 237671: 1, 2685: 1, 29108: 1, 17601: 1, 17605: 1, 350406: 1, 350407: 1, 343276: 1, 54510: 1, 239855: 1, 239856: 1, 10482: 1, 2223: 1, 28134: 1, 13213: 1, 4348: 1, 3101274: 1, 2663: 1, 13567: 1, 13568: 1, 236852: 1, 36864: 1, 343275: 1, 368323: 1, 237798: 1, 350417: 1, 27849: 1, 17610: 1, 17612: 1, 330958: 1, 330959: 1, 2674: 1, 250648: 1, 29751: 1, 13528: 1, 312993: 1, 13531: 1, 110813: 1, 330979: 1, 330980: 1, 113787: 1, 113784: 1, 2629: 1, 36967: 1, 349213: 1, 113767: 1, 349215: 1, 349216: 1, 230434: 1, 349219: 1, 349222: 1, 367655: 1, 4136: 1, 349225: 1, 4138: 1, 349227: 1, 349228: 1, 349231: 1, 349233: 1, 349212: 1, 349208: 1, 113783: 1, 349207: 1, 36568: 1, 24579: 1, 24580: 1, 323592: 1, 35851: 1, 35852: 1, 3101285: 1, 23567: 1, 27042: 1, 349201: 1, 9234: 1, 349203: 1, 3101277: 1, 349205: 1, 349206: 1, 349234: 1, 2686: 1, 349236: 1, 17463: 1, 2131: 1, 2133: 1, 265302: 1, 34260: 1, 7267: 1, 2146: 1, 113055: 1, 348121: 1, 2151: 1, 2152: 1, 6609: 1, 347078: 1, 234604: 1, 13509: 1, 2163: 1, 343120: 1, 349223: 1, 349257: 1, 228414: 1, 349240: 1, 349241: 1, 349242: 1, 349243: 1, 3101271: 1, 349245: 1, 349247: 1, 349256: 1, 349249: 1, 349251: 1, 3101289: 1, 349253: 1, 349254: 1, 6212: 1, 350029: 1, 3337: 1, 2314: 1, 237668: 1, 3101286: 1, 34244: 1, 17603: 1, 384461: 1, 12750: 1, 2167: 1, 3540: 1, 5727: 1, 244358: 1, 3411: 1, 386525: 1, 17473: 1, 3101312: 1, 349246: 1, 4579: 1, 345781: 1, 111320: 1, 693: 1, 112059: 1, 349221: 1, 2466: 1, 113059: 1, 364499: 1, 34218: 1, 2817: 1, 7598: 1, 250652: 1, 29104: 1, 29105: 1, 112052: 1, 112053: 1, 349210: 1, 5547: 1, 17465: 1, 345572: 1, 2687: 1, 11752: 1, 11753: 1, 347743: 1, 541: 1, 3101310: 1, 14885: 1, 244270: 1, 1585: 1, 28213: 1, 244278: 1, 336439: 1, 226875: 1, 28220: 1, 2623: 1, 2624: 1, 2626: 1, 2628: 1, 33638: 1, 19988: 1, 113028: 1, 11771: 1, 19947: 1, 19952: 1, 11765: 1, 36865: 1, 2694: 1, 29178: 1, 350043: 1, 315094: 1, 3536: 1, 19972: 1, 218629: 1, 350035: 1, 231945: 1, 3594: 1, 113056: 1, 112058: 1, 334912: 1, 250651: 1, 3101317: 1, 350404: 1, 349224: 1, 364506: 1, 371060: 1, 3085: 1, 368703: 1, 234818: 1, 45380: 1, 347464: 1, 347466: 1, 347468: 1, 347470: 1, 347062: 1, 4137: 1, 364851: 1, 31026: 1, 364848: 1, 8475: 1, 17483: 1, 345364: 1, 347087: 1, 8471: 1, 34068: 1, 17585: 1, 392082: 1, 364846: 1, 226593: 1, 18723: 1, 2149: 1, 350047: 1, 248740: 1, 111427: 1, 29011: 1, 4135: 1, 17466: 1, 33111: 1, 240929: 1, 349252: 1, 3460: 1, 3464: 1, 17464: 1, 233866: 1, 243880: 1, 219533: 1, 16988: 1, 363592: 1, 113043: 1, 11769: 1, 112050: 1, 113050: 1, 113051: 1, 7553: 1, 7552: 1, 392091: 1, 29037: 1, 17754: 1, 17756: 1, 17759: 1, 17764: 1, 350048: 1, 29103: 1, 323951: 1, 364850: 1, 36209: 1, 7540: 1, 233639: 1, 2672: 1, 7545: 1, 7546: 1, 237565: 1}

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,TKT,TKT_count
PassengerId,,,,,,,,,,,,,
60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.9,NaN,S,2144,6
72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.9,NaN,S,2144,6
387,0,3,"Goodwin, Master. Sidney Leonard",male,1.0,5,2,CA 2144,46.9,NaN,S,2144,6
481,0,3,"Goodwin, Master. Harold Victor",male,9.0,5,2,CA 2144,46.9,NaN,S,2144,6
679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.0,1,6,CA 2144,46.9,NaN,S,2144,6
684,0,3,"Goodwin, Mr. Charles Edward",male,14.0,5,2,CA 2144,46.9,NaN,S,2144,6

In [ ]:
# Understanding TKT
df = df_train.copy(deep=True)
df['TKT'] = np.array([int(tkt.split()[-1]) if tkt.split()[-1].isdigit() else 0 for tkt in df.Ticket.values])
dict_TKT = df.TKT.value_counts().reset_index(name="count")

print(dict_TKT.query("count > 5"))

dict_TKT = dict(dict_TKT.to_dict(orient='split')['data'])
print(dict_TKT)

df['TKT_count'] = [dict_TKT[tkt] for tkt in df.TKT]
df[df.TKT==2144]

In [65]:
2 in [1, 2]

True

In [71]:
sum([ x in df.TKT for x in [int(tkt.split()[-1]) if tkt.split()[-1].isdigit() else 0 for tkt in df_test.Ticket.values]])

8

In [72]:
# select females and masters (boys)
boy = (df.Name.str.contains('Master')) | ((df.Sex=='male') & (df.Age<13))
female = df.Sex=='female'
boy_or_female = boy | female

# no. females + boys on ticket
n_ticket = df[boy_or_female].groupby('Ticket').Survived.count()

# survival rate amongst females + boys on ticket
tick_surv = df[boy_or_female].groupby('Ticket').Survived.mean()

In [73]:
tick_surv

Ticket
110152         1.0
110413         1.0
110813         1.0
111361         1.0
112053         1.0
              ...
W./C. 14258    1.0
W./C. 6607     0.0
W./C. 6608     0.0
W./C. 6609     0.0
WE/P 5735      1.0
Name: Survived, Length: 256, dtype: float64

In [74]:
# function to create relevant features for test data
def create_features(frame):
    frame['Boy'] = (frame.Name.str.contains('Master')) | ((frame.Sex=='male') & (frame.Age<13))
    
    frame['Female'] = (frame.Sex=='female').astype(int)

    # if ticket exists in training data, fill NTicket with no. women+boys
    # on that ticket in the training data.
    frame['NTicket'] = frame.Ticket.replace(n_ticket)
    # otherwise NTicket=0
    frame.loc[~frame.Ticket.isin(n_ticket.index),'NTicket']=0

    # if ticket exists in training data, fill TicketSurv with
    # women+boys survival rate in training data  
    frame['TicketSurv'] = frame.Ticket.replace(tick_surv)
    # otherwise TicketSurv=0
    frame.loc[~frame.Ticket.isin(tick_surv.index),'TicketSurv']=0

    # return data frame only including features needed for prediction
    return frame[['Female','Boy','NTicket','TicketSurv']]

In [81]:
print(df_train.Ticket)
print(n_ticket)
df_train.Ticket.replace(n_ticket)

PassengerId
1             A/5 21171
2              PC 17599
3      STON/O2. 3101282
4                113803
5                373450
             ...
887              211536
888              112053
889          W./C. 6607
890              111369
891              370376
Name: Ticket, Length: 891, dtype: object
Ticket
110152         3
110413         2
110813         1
111361         2
112053         1
              ..
W./C. 14258    1
W./C. 6607     1
W./C. 6608     3
W./C. 6609     1
WE/P 5735      1
Name: Survived, Length: 256, dtype: int64

PassengerId
1      A/5 21171
2              1
3              1
4              1
5         373450
         ...
887       211536
888            1
889            1
890       111369
891       370376
Name: Ticket, Length: 891, dtype: object

In [75]:
# predict survival for a passenger
def did_survive(row):
    if row.Female:
        # predict died if all women+boys on ticket died
        if (row.NTicket>0) and (row.TicketSurv==0):
            return 0
        # predict survived for all other women
        else:
            return 1
        
    elif row.Boy:
        # predict survived if all women+boys on ticket survived
        if (row.NTicket>0) and (row.TicketSurv==1):
            return 1
        # predict died for all other boys
        else:
            return 0
        
    else:
        # predict all men die
        return 0

In [76]:
# extract the features to use
X = create_features(df_test)
X

             Female    Boy NTicket TicketSurv
PassengerId
892               0  False       0          0
893               1  False       0          0
894               0  False       0          0
895               0  False       0          0
896               1  False       1        1.0
...             ...    ...     ...        ...
1305              0  False       0          0
1306              1  False       1        1.0
1307              0  False       0          0
1308              0  False       0          0
1309              0   True       2        1.0

[418 rows x 4 columns]

In [77]:
# predict test data
pred = X.apply(did_survive,axis=1)
pred

PassengerId
892     0
893     1
894     0
895     0
896     1
       ..
1305    0
1306    1
1307    0
1308    0
1309    1
Length: 418, dtype: int64

In [78]:
dir(pred)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_attrs',
 '_binop',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_cython_table',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_item_cache',
 '_ix',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']